
/*-- CLASES TIPO FLEX --*/
.flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}

/*-- GAP --*/
.gap-10px{
    gap: 10px;
}
/* -- ALIGN -- */
.align-items-center{
    align-items: center;
}
/* -- MARGIN -- */
.margin-0px-auto{
    margin: 0px auto;
}
/*-- COLORES -- */
.color-blue{
    color: #2F80ED;
}
.color-black{
    color: #1B1F2D;
}
.color-white{
    color: #FFFFFF;
}
.background-color-blue{
    background-color: #2F80ED;
}
.background-color-blue-facebook{
    background-color: #475993;
}
.background-color-white{
    background-color: #FFFFFF;
}
.background-color-grey-light{
    background-color: #F2F2F2;
}
/* -- CLASES TIPO PADDING -- */
.padding-left-80px{
    padding-left: 80px;
}
.paddin-right-80px{
    padding-right: 80px;
}
.padding-right-20px{
    padding-right: 20px;
}
.padding-left-20px{
    padding-left: 20px;
}
.paddin-10px-20px{
    padding: 10px 20px;
}

/* -- POSITIONS -- */
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.z-index-1{
    z-index: 1;
}
.top-0{
    top: 0;
}
.bottom-0{
    bottom: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}


/* -- CLASES TIPO FONT FAMILY -- */
.font-family-sfProDisplay{
    font-family: 'SF Pro Display', sans-serif;
}

/* -- WIDTH -- */
.max-width-400px{
    max-width: 400px;
}
.width-100-percent{
    width: 100%;
}
.width-25px{
    width: 25px;
}
/* -- TEXT STYLES --*/
.text-align-center{
    text-align: center;
}
.text-align-start{
    text-align: start;
}
.underline-none{
    text-decoration: none;
}
/* -- BORDERS -- */
.border-radius-4px{
    border-radius: 4px;
}
.border-radius-6px{
    border-radius: 6px;
}
.border-1px-solid-lightGray{
    border: 1px solid lightgray;
}
